body {
	background-color:#B3CFE5;
	text-align:center;
        min-height:100hv;
}
@media(max-width:600px){
	nav{
		font-size:20px;
		padding:5px 8px;
		display:flex;
	}
}
nav{
border: 20PX #4A7FA7 solid;
background-color:#4A7FA7;
margin-top:20px;
font-size:15px;
}
.test1{
width:90%;
 padding-right:50px;
 border:#FFFFFF solid 10px;
 background-color:#FFFFFF;
 color:#0A1931;
}
.test2{
 width:90%;
 padding-right:30px;
 border:#FFFFFF solid 10px;
 background-color:#FFFFFF;
 color:#0A1931;
}
.test3{
    width:90%;
	padding-left:30px;
	border:10px #FFFFFF solid ;
	background-color:#FFFFFF;
color:#0A1931;}
.test4{
    width:90%;
	padding-left:50px;
	border:#FFFFFF solid 10px;
	background-color:#FFFFFF;
	color:#0A1931;
}
.test:hover{
	font-size:50px;
	color:#1A3D63;
}
b{
	margin-top:200px;
	color:#1A3D63;
	font-size:20px;
}
p:hover{
	color:#1A3D63;
}
footer{
  margin-top:500px;
}
table{
	border:solid 5PX;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	height:70%;
	text-align:center;
}
caption{
 font-size:40px;
 color:#011C40;
}
th:hover{
	border :5px solid;
	background-color:#0A1931;
	color:#ffcd00;
}
td:hover{
 border: 5px solid ;
}
label div{
	margin:auto;
 font-size:20px;
 color:#2B124C;
 display:flex;
 text-align:left;
}
input:hover{
	padding:5px;
	margin:auto;
	display:flex;
	align-items:center;
	width:90%;
}